<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container">
    <h2 class="text-center text-white">Add new brand</h2>
    <form   th:method="POST"
            th:object = "${addNewBrand}"
            th:action = "@{/brands/add}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="brandName" class="text-white font-weight-bold">Brand</label>
                <input id="brandName" type="text"
                       th:field="*{brandName}"
                       th:errorclass="is-invalid"
                       class="form-control"
                       placeholder="Brand name"/>
                <p class="invalid-feedback errors alert alert-danger">
                    The brand already added!
                </p>
            </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg mt-4" value="Add brand"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
		<footer> </footer>
</div>

</body>
</html>
