<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragments/head}">
<title></title>
</head>

<body>
<div>
   <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container">
    <h2 class="text-center text-white">Change Password</h2>
    <form th:method="post"
          th:object ="${changePassword}"
          th:action="@{/users/profile/changePassword}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="form-group">
            <label for="password" class="text-white font-weight-bold">Password</label>
            <input  id="password"
                    th:field="*{password}"
                    th:classappend="${invalidPassword} ? 'is-invalid'"
                    type="password"  class="form-control"
                    placeholder="Password"/>
            <p th:if="${invalidPassword}"
                    class="invalid-feedback errors alert alert-danger">
                Wrong password.
            </p>
        </div>
        <div class="form-group">
            <label for="new-password" class="text-white font-weight-bold">New password</label>
            <input id="new-password"
                    th:field="*{newPassword}"
                    type="password"  class="form-control"
                   placeholder="New password"/>
        </div>

        <div class="form-group">
            <label for="confirm-password" class="text-white font-weight-bold">New password</label>
            <input  id="confirm-password"
                    th:field="*{confirmPassword}"
                    th:errorclass="is-invalid"
                    type="password"  class="form-control"
                    placeholder="Confirm password"/>
            <p th:if="${#fields.hasErrors('confirmPassword')}"
               th:errors="*{confirmPassword}"
               class="invalid-feedback errors alert alert-danger">
                Passwords are not equal.
            </p>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Save"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer> </footer>
</div>
</body>
</html>
